*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

[class*="colonna-"]{
    float: left;
    height: 200px;
    /* da eliminare la parte sotto */
    text-align: center;
    margin-bottom: 0px;
}

.sfondo{
    background-image: url(https://images.fineartamerica.com/images-medium-large-5/1-silhouette-of-man-running-at-sunset-michal-bednarek.jpg);
    height:200px;
    background-size: cover;
    background-position: center;
}

 #animation {
  height: 200px;
  background-image: url('https://images.squarespace-cdn.com/content/v1/5c5332c4d745628dd221ed92/1565644850599-AIVV64Q6Q6JA4EXBQMK8/ke17ZwdGBToddI8pDm48kLXCf88_9uNTKXkq27cF4sB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmzUsryC7riGV7bTeYhg5Sep4Y8p3OCJVqs3FfNTLch3O2M0DsfUdwheg190rC2-Re/107-1075454_super-mario-world-super-mario-background-drawing.jpg?format=2500w');
  background-position: top left;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {background-position: center;}
}

#animation2 {
 height: 200px;
 background-image: url('https://images.squarespace-cdn.com/content/v1/5c5332c4d745628dd221ed92/1565644850599-AIVV64Q6Q6JA4EXBQMK8/ke17ZwdGBToddI8pDm48kLXCf88_9uNTKXkq27cF4sB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmzUsryC7riGV7bTeYhg5Sep4Y8p3OCJVqs3FfNTLch3O2M0DsfUdwheg190rC2-Re/107-1075454_super-mario-world-super-mario-background-drawing.jpg?format=2500w');
 background-position: top left;
 animation: mymove 5s infinite;
}

@keyframes mymove {
 50% {background-position: center;}
}

/* COLONNE */
.colonna-1 {
    width: calc(100% / 12 * 1);
}
.colonna-2 {
    width: calc(100% / 12 * 2);
}
.colonna-3 {
    width: calc(100% / 12 * 3);
}
.colonna-4 {
    width: calc(100% / 12 * 4);
}
.colonna-5 {
    width: calc(100% / 12 * 5);
}
.colonna-6 {
    width: calc(100% / 12 * 6);
}
.colonna-7 {
    width: calc(100% / 12 * 7);
}
.colonna-8 {
    width: calc(100% / 12 * 8);
}
.colonna-9 {
    width: calc(100% / 12 * 9);
}
.colonna-10 {
    width: calc(100% / 12 * 10);
}
.colonna-11 {
    width: calc(100% / 12 * 11);
}
.colonna-12 {
    width: calc(100% / 12 * 12);
}

/* SFONDI */

#background1{
    background-image: url(https://vignette.wikia.nocookie.net/mariosupernintendo/images/9/91/Goomba.jpg/revision/latest/scale-to-width-down/340?cb=20100111214959&path-prefix=es);
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
#background2{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSD6qFUv_1mx4frkaHrzT4pSCdhtqNbzuayq6STOkBOOz51pOSk');
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
#background3{
    background-image: url('https://i.pinimg.com/originals/95/58/c9/9558c998335fb0dfa3158b2d2e95f70f.jpg');
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
#background4{
    background-image: url('https://art.pixilart.com/3cf3db6a83574ee.png');
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
#background5{
    background-image: url('https://image.jeuxvideo.com/medias-sm/149340/1493395806-1131-capture-d-ecran.png');
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
#background6{
    background-image: url('https://img.elo7.com.br/product/zoom/20E5128/rotulo-tubete-estrela-mario-lembrancinha-mario.jpg');
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
#background7{
    background-image: url('https://i.pinimg.com/originals/07/fe/54/07fe54bedba6cc3f8dd05f42823bb840.jpg');
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

.colonna-2 img{
    height:150px;
    width: 150px;
    object-fit: contain;
    padding-bottom: 50px;;
}


/* OFFSET */

.colonna-offset-0 {
    margin-left: 0;
}

.colonna-offset-1 {
    margin-left: calc(100% / 12 * 1);
}

.colonna-offset-2 {
    margin-left: calc(100% / 12 * 2);
}

.colonna-offset-3 {
    margin-left: calc(100% / 12 * 3);
}

.colonna-offset-4 {
    margin-left: calc(100% / 12 * 4);
}

.colonna-offset-5 {
    margin-left: calc(100% / 12 * 5);
}

.colonna-offset-6 {
    margin-left: calc(100% / 12 * 6);
}

.colonna-offset-7 {
    margin-left: calc(100% / 12 * 7);
}

.colonna-offset-8 {
    margin-left: calc(100% / 12 * 8);
}

.colonna-offset-9 {
    margin-left: calc(100% / 12 * 9);
}

.colonna-offset-10 {
    margin-left: calc(100% / 12 * 10);
}

.colonna-offset-11 {
    margin-left: calc(100% / 12 * 11);
}

/* PARTE RESPONSIVE */

@media all and (max-width: 450px){


    /* COLONNE SMALL (Phone)*/
    .small-1 {
        width: calc(100% / 12 * 1);
    }
    .small-2 {
        width: calc(100% / 12 * 2);
    }
    .small-3 {
        width: calc(100% / 12 * 3);
    }
    .small-4 {
        width: calc(100% / 12 * 4);
    }
    .small-5 {
        width: calc(100% / 12 * 5);
    }
    .small-6 {
        width: calc(100% / 12 * 6);
    }
    .small-7 {
        width: calc(100% / 12 * 7);
    }
    .small-8 {
        width: calc(100% / 12 * 8);
    }
    .small-9 {
        width: calc(100% / 12 * 9);
    }
    .small-10 {
        width: calc(100% / 12 * 10);
    }
    .small-11 {
        width: calc(100% / 12 * 11);
    }
    .small-12 {
        width: calc(100% / 12 * 12);
    }


    /* OFFSET SMALL (Phone)*/

    .small-offset-0 {
        margin-left: calc(100% / 12 * 0);
    }

    .small-offset-1 {
        margin-left: calc(100% / 12 * 1);
    }

    .small-offset-2 {
        margin-left: calc(100% / 12 * 2);
    }

    .small-offset-3 {
        margin-left: calc(100% / 12 * 3);
    }

    .small-offset-4 {
        margin-left: calc(100% / 12 * 4);
    }

    .small-offset-5 {
        margin-left: calc(100% / 12 * 5);
    }

    .small-offset-6 {
        margin-left: calc(100% / 12 * 6);
    }

    .small-offset-7 {
        margin-left: calc(100% / 12 * 7);
    }

    .small-offset-8 {
        margin-left: calc(100% / 12 * 8);
    }

    .small-offset-9 {
        margin-left: calc(100% / 12 * 9);
    }

    .small-offset-10 {
        margin-left: calc(100% / 12 * 10);
    }

    .small-offset-11 {
        margin-left: calc(100% / 12 * 11);
    }

@media all and (min-width: 451px){

    /* COLONNE MEDIUM (Tablet)*/
    .medium-1 {
        width: calc(100% / 12 * 1);
    }
    .medium-2 {
        width: calc(100% / 12 * 2);
    }
    .medium-3 {
        width: calc(100% / 12 * 3);
    }
    .medium-4 {
        width: calc(100% / 12 * 4);
    }
    .medium-5 {
        width: calc(100% / 12 * 5);
    }
    .medium-6 {
        width: calc(100% / 12 * 6);
    }
    .medium-7 {
        width: calc(100% / 12 * 7);
    }
    .medium-8 {
        width: calc(100% / 12 * 8);
    }
    .medium-9 {
        width: calc(100% / 12 * 9);
    }
    .medium-10 {
        width: calc(100% / 12 * 10);
    }
    .medium-11 {
        width: calc(100% / 12 * 11);
    }
    .medium-12 {
        width: calc(100% / 12 * 12);
    }


    /* OFFSET MEDIUM (Tablet)*/
    .medium-offset-0 {
        margin-left: 0;
    }

    .medium-offset-1 {
        margin-left: calc(100% / 12 * 1);
    }

    .medium-offset-2 {
        margin-left: calc(100% / 12 * 2);
    }

    .medium-offset-3 {
        margin-left: calc(100% / 12 * 3);
    }

    .medium-offset-4 {
        margin-left: calc(100% / 12 * 4);
    }

    .medium-offset-5 {
        margin-left: calc(100% / 12 * 5);
    }

    .medium-offset-6 {
        margin-left: calc(100% / 12 * 6);
    }

    .medium-offset-7 {
        margin-left: calc(100% / 12 * 7);
    }

    .medium-offset-8 {
        margin-left: calc(100% / 12 * 8);
    }

    .medium-offset-9 {
        margin-left: calc(100% / 12 * 9);
    }

    .medium-offset-10 {
        margin-left: calc(100% / 12 * 10);
    }

    .medium-offset-11 {
        margin-left: calc(100% / 12 * 11);
    }
}

@media all and (min-width: 768px){

    /* COLONNE LARGE (Pc)*/
    .large-1 {
        width: calc(100% / 12 * 1);
    }
    .clarge-2 {
        width: calc(100% / 12 * 2);
    }
    .large-3 {
        width: calc(100% / 12 * 3);
    }
    .large-4 {
        width: calc(100% / 12 * 4);
    }
    .large-5 {
        width: calc(100% / 12 * 5);
    }
    .large-6 {
        width: calc(100% / 12 * 6);
    }
    .large-7 {
        width: calc(100% / 12 * 7);
    }
    .large-8 {
        width: calc(100% / 12 * 8);
    }
    .large-9 {
        width: calc(100% / 12 * 9);
    }
    .large-10 {
        width: calc(100% / 12 * 10);
    }
    .large-11 {
        width: calc(100% / 12 * 11);
    }
    .large-12 {
        width: calc(100% / 12 * 12);
    }


    /* OFFSET LARGE (Pc) */

    .large-offset-0 {
        margin-left: 0;
    }

    .large-offset-1 {
        margin-left: calc(100% / 12 * 1);
    }

    .large-offset-2 {
        margin-left: calc(100% / 12 * 2);
    }

    .large-offset-3 {
        margin-left: calc(100% / 12 * 3);
    }

    .large-offset-4 {
        margin-left: calc(100% / 12 * 4);
    }

    .large-offset-5 {
        margin-left: calc(100% / 12 * 5);
    }

    .large-offset-6 {
        margin-left: calc(100% / 12 * 6);
    }

    .large-offset-7 {
        margin-left: calc(100% / 12 * 7);
    }

    .large-offset-8 {
        margin-left: calc(100% / 12 * 8);
    }

    .large-offset-9 {
        margin-left: calc(100% / 12 * 9);
    }

    .large-offset-10 {
        margin-left: calc(100% / 12 * 10);
    }

    .large-offset-11 {
        margin-left: calc(100% / 12 * 11);
    }
}
